:javascript
  $(function(){
    $('#add_tag').click(product.addTags);
    $('#add_category').click(product.addCategories);
    $("#product_form").submit(product.formValidate);
  });
  function remove(that){
    $(that).parent().remove();
    return event.preventDefault();
  };
  

%div
  %div{ style: 'width: 750px;margin-left: 28%;' }
    = form_for([:admin, @product], html: { id: 'product_form'}) do |f|
      .main-col1
        %div
          = f.label :name
          = f.text_field :name, :tabindex => "1",:autofocus =>"autofocus"
        %br
        %div
          = f.label :description
          = f.text_area :description, :tabindex => "2", :rows => 2, cols: 50, rows: 10
        %br
        = f.label :sku_id
        = f.label :sku_id, @product.sku_id, class: 'label'
        %br
        %br
        = f.label :price
        = f.number_field :price, :tabindex => "4", step: 0.01
        %br
        = f.label :admin_approved
        = f.check_box :admin_approved, {}, 'true', 'false'
      .main-col2
        = render 'images'
        %label
          %span Categories
          = render 'category'
          #categories
          = link_to "Add Category", '#', id: 'add_category'
        %br 
        %br
        %label
          %span Tag
          = render 'tag'
          #tags
          = link_to "Add Tag", '#', id: 'add_tag'
        %br
      .clear
        %div{ align: 'center'}
          = f.submit